.black{background: #222 !important;}
body {
    /*background: #e1e1e1;*/
    /*background: #BDC3C7;*/
    background: #F5F5F5;
    padding-top: 50px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {margin: 0;}

/* ---------------------------------------------------------------------- */
/*  Top Navbar
/* ---------------------------------------------------------------------- */
header a{color: #fff;}
.navbar-header{margin-right: 49px;}
.navbar {background: #104D76;border-bottom: 2px solid #16a085;height: 52px;margin-bottom: 0;}
.navbar-nav{margin-right: 0px !important;}
.navbar-nav li{
    height: 50px;
    text-align: center;
    /*border-left:1px solid #aaa; 
    border-right:1px solid #aaa; */
    margin-left: -2px;}
.navbar-nav li.extra{width: 161px; margin-left: -1px !important;}
.navbar-nav a{font-size: 13px;}
.navbar-nav>li>a {}
.navbar-nav.top-nav li a:hover, .navbar-nav.top-nav li i:hover{color: #fff;}
.navbar-nav {font-size: 14px;}
.navbar-nav li a {
    height: 50px; padding: 5px 5px;font-weight: 500;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;
    transition: all 0.5s ease;color:#fff;
}
.navbar-nav li a i {font-size: 20px;color: #fff;padding: 1px 50px;display: block;text-align: center;}
.navbar-nav li.active {background-color: #16a085;}
.navbar-nav li:hover ul {display: block;}
.navbar-nav li ul li {display: block;}

.navbar-brand h3 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -2px;
    padding: 4px;
}
.navbar-brand img {height: 40px;float: left;margin-right: 8px;}
.navbar-brand {
    padding: 5px 2px 1px 16px;
    height: 65px;
    width: 213px;
}
.navbar-brand:hover{color: #fff;}
#menu-toggle {
    float: left;
    height: 63px;
    font-size: 22px;
    font-weight: 300;
    color: #dfdfdf;
    padding: 15px 17px 15px 10px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}
#menu-toggle:hover {background: #16a085;color: #fff;}
#menu-toggled-none{
    float: left;
    width: 50px;
    padding: 15px 14px;
}

/*button */

.button {
  font: bold 20px Arial,sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin: 20px;
  padding: 0.4em 2em 0.5em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid;
  border-color: #bbbbbb #a2a2a2 #888888;
  background-color: #eee;
  background-image: -moz-linear-gradient(#eeeeee, #d4d4d4);
  background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4);
  background-image: linear-gradient(#eeeeee, #d4d4d4);
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
.button:hover {
  -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
.button:active {
  padding: 0.4em 2em 0.4em;
  margin-top: 0.1em;
  border-color: #a2a2a2 #bbbbbb #eee;
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee);
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee);
  background-image: linear-gradient(#e1e1e1, #eeeeee);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 10ms;
  -o-transition: all 10ms;
  -webkit-transition: all 10ms;
  transition: all 10ms;
}


.navbar-default .navbar-nav>a, 
.navbar-default .navbar-nav>a:focus, 
.navbar-default .navbar-nav>li>a:hover{background: #e1e1e1;}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a i, 
.navbar-default .navbar-nav>.active>a i:focus, 
.navbar-default .navbar-nav>.active>a i:hover {color: #fff;background: #007aff;}

.navbar-nav .dropdown li a {
    height: 40px;
    padding: 10px;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.dropdown-menu .submenu_rekening{background-color: #104D76;height: 40px; }
.dropdown-menu .submenu_rekening a{color: #bbb; text-align: left; font-size: 12px;}
.dropdown-menu .submenu_rekening a:hover{color: #000 !important;}
/*-------------- user top right --------------*/
.user {background: #104D76; margin-right: 20px !important;}
.user .dropdown-toggle{padding: 0px !important;}
.user li{width: 210px !important; border: 1px !important; margin-right: 20px !important;}
.user li a {}
.user a:hover{background: #53868B;color: #000;}
.profile-detail {padding: 3px; position: relative;overflow: hidden;}
.profile-name {margin-top: 5px;text-align: center;}
.profile-nip {font-size: 12px; font-weight: 700;text-align: center; z-index: 999;}
.user{margin-right: 0px !important;}
.user .profile-thumb {
    width: 42px;height: 42px;position: relative;overflow: hidden;border-radius: 4px;float: left;margin: 5px 2px 2px 4px;
}
.user .profile-thumb img {
    height: 42px; 
    width: 42px;
    border-radius:42px;
    -moz-border-radius:42px; /* Firefox 4 */
    -webkit-border-radius:42px; /* Safari and Chrome */
    -o-border-radius: 42px; /* Opera */
}
.user .dropdown-menu li a {
    text-align: center;
    padding: 25px 10px;
    background-color: #104D76;
    display: block;
    text-decoration: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
    transition: all 0.5s ease;
    border-radius: 0px !important;
}
.user .dropdown-menu .menu-icon {margin-top: -13px;}
.user .dropdown-menu .menu-icon i{position: absolute;left: 0px; top: 11px;}
ul.user li ul li{margin-left: 0.5px !important;}

/* ---------------------------------------------------------------------- */
/*  Sidebar Menu
/* ---------------------------------------------------------------------- */
#page {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page.toggled {
    padding-left: 260px;
}

#main-sidebar {
    z-index: 1000;
    position: fixed;
    left: 260px;
    width: 0;
    height: 100%;
    margin-left: -260px;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #e1e1e1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page.toggled #main-sidebar {
    width: 260px;
}

#main-content {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#page.toggled #main-content {
    position: absolute;
    margin-right: -260px;
}

/*-------------- sidebar --------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
    border-top: 1px solid #e1e1e1;
}
.sidebar-nav li.actived {background: #e1e1e1;}
.sidebar-nav li.active {background: #16a085;}
.sidebar-nav li.active > a {color: #fff;}
.sidebar-nav li.active > ul.section > li > a {color: #fff;}
.sidebar-nav li.active > ul.section > li {border: none;}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    border-right: 1px solid #e1e1e1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    background: #e1e1e1;
}

#loading img {
      position: absolute;
      /* width: 20%; */
      /* height: auto; */
      left: 50%;
      margin-top: -15px;
      z-index: 1;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #page {
        padding-left: 260px;
    }

    #page.toggled {
        padding-left: 0;
    }

    #main-sidebar {
        width: 260px;
    }

    #page.toggled #main-sidebar {
        width: 0;
    }

    #main-content {
        padding: 20px;
        position: relative;
    }

    #page.toggled #main-content {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-nav .menu-icon i {font-size: 20px;padding: 10px 15px;float: left;color: #007aff;}
.sidebar-nav .menu-name {font-size: 14px;display: inline-block;padding-right: 15px;}

/*-------------- Page Title --------------*/

.page-title {padding: 0 15px;margin-bottom: 20px;}
.page-title h1 {margin: 0;font-weight: 300;margin-bottom: 10px;}
.page-title span {font-weight: 700;}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(assets/images/loading-google.gif) center no-repeat #fff;
}

/*-------------- Box Title --------------*/

.box {background: #fff;margin-bottom: 20px;}
.box-title {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  padding: 10px 15px;
  border-radius: 4px;
  border-bottom: 2px solid #d6e9c6;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.box-title h2, .box-title h3 {margin: 0;
    /*color: #064380;*/
    color: #3c763d;
    font-weight: 300;}

.box-inner {padding: 15px 20px;}


/*-------------- form element --------------*/
.form-control {border-radius: 0;box-shadow: none;height: 35px;}
.form-control:focus {
    border-color: #007aff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.control-label {color: #777;}

/*---------------- Juna ----------------------------------------*/.dashboard_ppk{background: #fff; min-height: 620px;}
.cursor_none{ cursor: none !important; pointer-events: none;}
/*autocomplete*/
.ui-autocomplete {
    z-index: 10000 !important;
    background: rgb(238, 238, 238);
    width: 200px;
}
.hidden{display: none !important;}

/*dataTable*/
.dataTables_filter{display: none;}
.data-table{margin: 10px 0px;}
.relative{position: relative;}
.absolute{position: absolute;}
#pages{text-align: right;}
#pages .pagination{clear: both;}

.bold{font-weight: bold;}
.fui-print{background-image: url('../images/print.png'); width: 30px; height: 30px; float: right; margin: 5px 0px 0px -30px; background-repeat: no-repeat;}
.capitalize{text-transform: capitalize;}
.uppercase{text-transform: uppercase;}
.dashboard_ppk .dashboard_welcome{text-align: center; margin: 30px 0px;}
.dashboard_ppk p{text-align: center; margin-bottom: 50px;}
.dashboard_ppk .logo_dashboard_ppk{position: relative;}
.dashboard_ppk .logo_dashboard_ppk img{position: absolute; width: 20%; height: auto; left: 40%; top: 40%;}

.breadcrumb{/*background: #fff;*/}
#submitin{margin-left: 10px;}
.error,.LV_invalid{color: #d22 !important; font-weight: 500 !important;}
.error_popups{color: #d44; padding: 0px 10px; margin-top: -4px; margin-left: -10px;}
.logout{display: none;}


/* --------------------------------------------------------------- datepicker */
.calendar {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.9em;
    background-color: #EEE;
    color: #333;
    border: 1px solid #DDD;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0.2em;
    width: 14em;
}
.calendar a {
    outline: none;
}

.fancybox-inner > .box-inner{
    background: #fff;
}
.calendar .months {
    background-color: #F6AF3A;
    border: 1px solid #E78F08;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    padding: 0.2em;
    text-align: center;
}
.calendar .prev-month,
.calendar .next-month {
    padding: 0;
}
.calendar .prev-month {
    float: left;
}
.calendar .next-month {
    float: right;
}
.calendar .current-month {
    margin: 0 auto;
}
.calendar .months a {
    color: #FFF;
    text-decoration: none;
    padding: 0 0.4em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.calendar .months a:hover {
    background-color: #FDF5CE;
    color: #C77405;
}
.calendar table {
    border-collapse: collapse;
    padding: 0;
    font-size: 0.8em;
    width: 100%;
}
.calendar th {
    text-align: center;
}
.calendar td {
    text-align: right;
    padding: 1px;
    width: 14.3%;
}
.calendar td a {
    display: block;
    color: #1C94C4;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    text-decoration: none;
    padding: 0.2em;
}
.calendar td a:hover {
    color: #C77405;
    background-color: #FDF5CE;
    border: 1px solid #FBCB09;
}
.calendar td.today a {
    background-color: #FFF0A5;
    border: 1px solid #FED22F;
    color: #363636;
}

.boldbaris{
    background-color: #19B5FE; 
}

/* --------------------------------------------------------------- table foot */
tfoot > tr > td.right { text-align: right;}
.silver{background-color: #ccc;}

/* --------------------------------------------------------------- popups */
.margin-bottom{
    padding-bottom: 50px;
}

/* --------------------------------------------------------------- form login */
#links_sistem{margin-right: 0px !important;}
#konten{margin-top: 40px; min-height: 530px;}
#konten .judul_sistem_login{margin: 0px 0px 20px 0px;font-size: 60px;}
#konten h3{margin: 20px 0px;}
#konten p{line-height: 2;}

#konten #form_login{margin: 25px 0px 40px 0px;}
#konten #form_login h2{}

footer{height:50px; background-color:#eee; bottom:0px; left:0px;right:0px; margin-bottom:0px;}
footer p{margin-top: 15px;}
footer a{color: #666;}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#breadcrumbs-two{
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-two li{
    float: left;
    margin: 0 .5em 0 1em;
}

#breadcrumbs-two a{
    background: #104D76;
    padding: 0.6em 4.4em;
    float: left;
    text-decoration: none;
    color: #DFDFDF;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.5); */
    position: relative;
}

#breadcrumbs-two a:hover{
    background: #16a085;
}

#breadcrumbs-two li.active{
    background: #16a085;
}

#breadcrumbs-two a::before{
    content: "";
    position: absolute;  
    top: 50%; 
    margin-top: -1.5em;   
    border-width: 1.5em 1px 1.5em 1em;
    border-style: solid;
    border-color: #104D76 #104D76 #104D76 transparent;
    left: -1em;
}

#breadcrumbs-two a:hover::before{
    border-color: #16a085 #16a085 #16a085 transparent;
}

#breadcrumbs-two a::after{
    content: "";
    position: absolute;
    padding-left: 1px;
    top: 50%; 
    margin-top: -1.5em;   
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #104D76;
    right: -1em;
}

#breadcrumbs-two a:hover::after{
    border-left-color: #16a085;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
    font-weight: bold;
    background: #16a085;
}


#breadcrumbs-two .current::after{
    content: normal;  
    content: "";
    position: absolute;
    padding-left: 1px;
    top: 50%; 
    margin-top: -1.5em;   
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #16a085;
    right: -1em;  
}

#breadcrumbs-two .current::before{
    content: "";
    position: absolute;  
    top: 50%; 
    margin-top: -1.5em;   
    border-width: 1.5em 1px 1.5em 1em;
    border-style: solid;
    border-color: #16a085 #16a085 #16a085 transparent;
    left: -1em;
}


/*-------------------------------------------------------Tabs - PPK/SPK/Input */
ul#tabs{background-color: #dfd; list-style: none; height: 40px; float: left; padding: 0px; margin: 25px; font-size: 16px;}
ul#tabs li.tab a:hover{}
ul#tabs li.tab.active a:hover{color: #fff;}
li.tab{background-color: #ddd; float: left; padding: 10px 40px 10px 40px; position: relative;}
li.tab.active{background-color: #104D76; color: #fff; float: left; padding: 10px 40px 10px 40px; position: relative;}
.triangle.arrow-right{width: 0;height: 0; border-top: 22px solid transparent;
                      border-bottom: 22px solid transparent;border-left: 22px solid #ddd;
                      position: absolute;z-index: 9;
                      right: -21px; -moz-right: -21px; -webkit-right: -20px; -webkit-right: -20px;
                      top: 0px;
}
.triangle.arrow-right.active{width: 0;height: 0; border-top: 22px solid transparent;
                             border-bottom: 22px solid transparent;border-left: 22px solid #104D76;
                             position: absolute;z-index: 9;
                             right: -21px; -moz-right: -21px; -webkit-right: -20px; -webkit-right: -20px;
                             top: 0px;
}
.triangle.arrow-right.white{width: 0;height: 0; border-top: 22px solid transparent;
                            border-bottom: 22px solid transparent;border-left: 24px solid #fff;
                            position: absolute;z-index: 8;
                            right: -24px; -moz-right: -24px; -webkit-right: -20px; -webkit-right: -20px;
                            top: 0px;
}
.clear{clear:both;}


/*--------------------------pilih rekening di SKPD/pemberian_langsung/rekening*/
.box_panah{position: relative; top: 50%; left: 50%; right: 50%; width: 120px; height: 50px; background: #303;}
.box_panah_kanan{height: 20px; width: 30px; background-color: #3c763d; float: left; margin-top: 35px;}
.panah_kanan{
    margin-top: 20px;
    width: 20px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #3c763d; float: left;}
.box_panah_kiri{height: 20px; width: 30px; background-color: #31708f; float: left; margin-top: 5px;}
.panah_kiri{
    margin-top: -10px;
    width: 20px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #31708f; float: left;}

.child {
    display: none;
    padding-left:50px;
    color: blue;
}

.expand {
    cursor:pointer;
    vertical-align:top
}


/* ------------------------------------------------------------- alert dialog */
#dialogoverlay{
    display: none;
    opacity: 8;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 10000;
}
#dialogbox{
    display: none;
    position: fixed;
    background-color: #000;
    border-radius: 7;
    width: 550px;
    z-index: 10000;
}
#dialogbox > div{background-color: #fff; margin: 8px;}
#dialogbox > div > #dialogboxhead{background-color: #666; font-size: 19px; padding: 10px; color: #ccc;}
#dialogbox > div > #dialogboxbody{background-color: #333; font-size: 20px; color: #fff;}
#dialogbox > div > #dialogboxfoot{background-color: #666; font-size: 10px; padding: 10px; text-align: right;}

/*-------------------------------------------------------daftar rekening pilih*/
.custom-header {
    text-align: center;
    padding: 3px;
    background: #2C3747;
    color: #FFF;
    font-family:'Titillium Web', sans-serif;
    font-size: 14px;
}

/*SPK - TERMIN*/
.is-disabled{
    position: relative;
    pointer-events: none;
    content: 'Isi dari pertama dulu';
}