/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

body {
    padding-top: 50px;
    background: #F2F1EF;
    /*#34495E;*/
    font-family: 'Open Sans', sans-serif;
}

a { 
    color: #e74c3c;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

a:hover {
    color: #992E22;
}

.txt-l {text-align: left;}
.txt-c {text-align: center;}
.txt-r {text-align: right;}

.txt-l-s {text-align: left; padding-right: 10px;}

.tebal {font-weight: bold;}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2d3b55;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
}

.wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 45px;
}

.sidebar-nav li a {
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #999999;
    border-left: solid 3px #34495e;
    border-bottom: solid 1px #34495e;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: solid 3px #c0392b;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    padding: 0 10px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav li a i {
    padding-right: 10px;
    font-size: 16px;
}

/*------------------ navbar ------------------*/

.navbar {
    background: #eeeeee;
    padding: 0 15px;
    -webkit-box-shadow: 0 6px 6px -6px #777;
       -moz-box-shadow: 0 6px 6px -6px #777;
            box-shadow: 0 6px 6px -6px #777;
}

.navbar a {color: #fff;}
.navbar a:hover {color: #fff;}

.nav>li>a:hover, .nav>li>a:focus {background: #3FC380;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background: #34495E;}

.brand {
    float: left;
    width: 220px;
}

.navbar-brand {
    padding: 5px 0;
    letter-spacing: -2px;
    font-size: 24px;
}

.navbar-brand h3{
    margin: -35px 0px 0px 47px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

#menu-toggle {
    font-size: 25px;
    padding: 7px 15px;
    float: right;
    border-left: solid 1px #003372;
    border-right: solid 1px #003372;
}

#menu-toggle:hover {
    background: #002e67;
}

.user li {
    position: relative;
    float: left;
    border-left: solid 1px #FFF;
}

.user>li+li:after {
    border-right: solid 1px #efefef;  
}

.user li a i {
    margin-right: 10px;
}

.page-header {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    height: 45px;
    border-bottom: none;
}

.page-header h3 {
    margin: 0;
    float: left;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #019875;
}

/*------------------ Bagian Kolom ------------------*/

.panel {
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-success{
    border: none;
}

.box {background: #fff;border: solid 0px #d9d9d9;}

/*Judul Kolom*/
.judul-kolom {
    background: #2C3E50;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #414141;
}

.judul-kolom h4 {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/*Body Kolom*/
.body-kolom {
    padding: 10px 20px;
}

.page-header .breadcrumb-wrapper {
    float: right;
}

.page-header .breadcrumb-wrapper .label {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
}

.page-header .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
}

.page-header .breadcrumb li {
    font-size: 12px;
}

.activ{
    background-color: #3FC380;
}

.page-header .breadcrumb li.active {
    color: #019875;
}

.breadcrumb>li+li:before {
    font-family: FontAwesome;
    padding: 0 5px;
    color: #ddd;
    content: "\f101";
}
.breadcrumb li a:hover {
    text-decoration: none;
}
.table>thead>tr>th {text-align: center;}
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    vertical-align: middle;
}

td:hover{
    position: relative;
}

td[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.tahoma11 {
    font-family: serif;
    font-size: 12px;
    text-decoration: none;
    margin: 2px;
    padding: 2px;
    font-weight: normal;
}




.tahoma10 {
    font-family: Tahoma;
    font-size: 10px;
    text-decoration: none;
}
.header20 {
    font-family: Tahoma;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.tahoma11 {
    font-family: Tahoma;
    font-size: 11px;
    text-decoration: none;
    margin: 2px;
    padding: 2px;
}
.tahoma16 {
    font-family: Tahoma;
    font-size: 16px;
    text-decoration: none;
}
.border-tlb {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-lb {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-r {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tlbr {
    border: 1.2px solid #000000;
}
.border-lbr {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tb {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tlb {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tlr {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tbr {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-br {
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #000000;
    border-bottom-color: #000000;
}
.border-tr {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-tl {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-b {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.border-l {
    border-top-width: 1.2px;
    border-right-width: 1.2px;
    border-bottom-width: 1.2px;
    border-left-width: 1.2px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}

.no-border-right{
    border-right: none;
}

.no-border-left {
    border-left: none;
}

.no-border-lr {
    border-left: none;
    border-right: none;
}

.no-border-top {
    border-top: none;
}

.no-border-bot {
    border-bottom: none;
}

.no-border-tb {
    border-top: none;
    border-bottom: none;
}

.wrap {
    padding-top: 30px;
}

.login-box {
    color: #fff;
}

.login:before, .login:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 20px;
  width: 100%;
  top: 80%;
  max-width:300px;
  background: #777;

  box-shadow: 0 10px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.login:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 20px;
  left: auto;
}


.login-screen {
    background-color: #fff;
    padding: 20px;
    display: block;
}

.app-title h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #777;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
}

.login-fail {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    color: #e74c3c;
}

.login-form {
    text-align: center;
}

.login input {
    border: solid 1px #ccc; 
    text-align: center;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 0;
    width: 100%;
    transition: border .5s;
    margin-bottom: 10px;
}

.login input:focus {
    border: 1px solid #3498DB;
    box-shadow: none;
}

.login .control-group .chap {
    border: solid 1px #eee;
}

.login .control-group a {
    text-align: center;
    display: block;
    margin: 10px 0;
    font-weight: 600;
}

.login .control-group a:hover {
    text-decoration: none;
}

.login .btn {
    border: 2px solid transparent;
    background: #67809F;
    color: #DADFE1;
    font-size: 14px;
    line-height: 25px;
    padding: 7px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
    transition: 0.25s;
    width: 100%;
}

.login .btn:hover {
    background-color: #BFBFBF;
    color: #67809F;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #eeeeee;
    padding: 5px;
    text-align: center;
    color: #6C7A89;
}

.copyright a:hover {  
    text-decoration: none;
}

.judul {
    margin-bottom: 20px;
}

.judul h1 {
    color: #34495e;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 5em;    
}

.sub-judul {
    padding-left: 0;
    text-align: center;
}

.sub-judul li {
    position: relative;
    margin: 15px;
    display: inline;
    list-style-type: none;
}

.sub-judul li a {
    font-weight: 600;
    font-size: 16px;
}

.sub-judul li a:hover {
    text-decoration: none;
}

.sub-judul li a i {
    margin-right: 5px;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #eeeeee;
}

.footer p {
    padding-top: 10px;
}

.footer-menu li a {
    margin: 0;
    padding: 10px 20px;
}
/* * * * * * * * * * * *
       * Inner Box
       * * * * * * * * * * * */

.login .box .content {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.login .box form {
    padding: 0;
    margin: 0;
}
.login .box .form-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
}
.login .box .form-group {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.login .box .form-actions {
    background-color: #fff;
    border-top: none;
    padding: 10px 0;
    margin: 0;
}
.login .box .input-icon input {
    border-left: 2px solid #4d7496;
}
.login .box .has-error .input-icon input {
    border-left-color: #b94a48;
}
.login .box .has-success .input-icon input {
    border-left-color: #468847;
}
.login .box .checkbox {
    margin-top: 7px;
}
.login .box .inner-box {
    background-color: #f9f9f9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.login .box .inner-box .content {
    padding: 12px 30px;
    text-align: center;
}
.login .box .inner-box a {
    color: #555555;
    font-size: 12px;
    font-weight: 600;
}
.login .box .inner-box a:hover {
    text-decoration: none;
    color: #4d7496;
}
.login .box .inner-box .close {
    font-size: 12px;
    margin-top: -3px;
    margin-right: -20px;
}
.login .box .inner-box .close.hide-default {
    display: none;
}
.login .box .inner-box form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.login .box .inner-box a + form {
    margin-top: 20px;
}
.login .box .inner-box .form-group {
    margin-bottom: 10px;
}
.login .box .inner-box .forgot-password-done {
    padding: 10px 0;
}
.login .box .inner-box .forgot-password-done .success-icon,
.login .box .inner-box .forgot-password-done .danger-icon {
    display: block;
    font-size: 30px;
    padding: 15px;
    padding-top: 0;
}
.login .box .inner-box .forgot-password-done .success-icon {
    color: #94b86e;
}
.login .box .inner-box .forgot-password-done .danger-icon {
    color: #e25856;
}
.login .box .inner-box .forgot-password-done span {
    font-weight: 600;
}
.login .single-sign-on {
    width: 350px;
    padding: 15px 0;
    opacity: 0.5;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}
.login .single-sign-on:hover {
    opacity: 1;
}
.login .single-sign-on span {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    color: #888888;
}
.login .single-sign-on .btn i {
    padding-right: 5px;
}
.login .footer {
    width: 350px;
    padding-top: 30px;
}
.login .footer a {
    font-size: 13px;
    color: #6f6f6f;
}
.login .footer a:hover {
    text-decoration: none;
    color: #4d7496;
}
.login .spacing-top {
    padding-top: 7px !important;
}

.login-alert {
    text-align: center;
    color: #ff0000;
    margin: 15px auto;
    font-weight: 600;
}

table td {
    font-family: tahoma;
}

.cari-menu {
    padding: 10px;
    background: #16212d;
    height: 50px;
}

.cari-menu input {
    width: 100%;
    height: 30px;
    padding: 10px;
    background: #eee;
    border: none;
    color: #111;
    border-radius: 15px;
}

#none {
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.row-border .form-group:first-child {
    padding-top: 5px;
    border-top: none;
}

.control-label {
    padding-top: 7px;
    font-weight: 400;
}

.konten {
    color: #2c3e50;
}


.form-control {
    border-radius: 0;
}

input {margin-bottom: 10px;}
select {margin-bottom: 10px;}
textarea {margin-bottom: 10px;}

.btn-panjang {border-radius: 0; padding: 6px 20px; margin-bottom: 10px;}
.btn-tabel li {display: inline-block; float: left; list-style: none; margin-right: 10px;}



.chosen-container {padding-right: 15px;}
.chosen-container .chosen-single {height: 34px;padding-top: 3px;border-radius:0;border: 1px solid #ccc;}
.chosen-container .chosen-single b {margin-top: 5px;}
.chosen-container .chosen-choices {height: 34px;padding-top: 3px;border: 1px solid #ccc;}

.hiddenRow {
    padding: 0 !important;
}

.btn-header {height: 38px;padding-top: 9px;border-radius: 0; float:right;} 


/*****************************/
/* Line Box */
/*****************************/

.tabs-style-linebox nav ul li {
    margin: 0 0.5em;
    -webkit-flex: none;
    flex: none;
}

.tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #013a81;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
    color: #013a81;
    text-decoration: none;
}

.tabs-style-linebox nav li.tab-current a {
    color: #fff;
}

.tabs-style-linebox nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
    transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox nav li.tab-current a::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
    background: #013a81;
}

@media screen and (max-width: 58em) {
    .tabs-style-linebox nav ul {
        display: block;
        box-shadow: none;
    }
    .tabs-style-linebox nav ul li {
        display: block;
        -webkit-flex: none;
        flex: none;
    }
}

/* Default tab style */

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;

}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a span {
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
}

.tabs nav a i {font-size: 24px; margin-right: 15px;}

.tabs nav li.tab-current a {
    color: #fff;
}

.tabs nav a:focus {
    outline: none;
    text-decoration: none;
}
/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
    content: "\e68a";
}
.icon-tools::before {
    content: "\e60a";
}
.icon-plane::before {
    content: "\e625";
}
.icon-joy::before {
    content: "\e6a4";
}
.icon-plug::before {
    content: "\e69a";
}
.icon-home::before {
    content: "\e648";
}
.icon-gift::before {
    content: "\e652";
}
.icon-display::before {
    content: "\e65e";
}
.icon-date::before {
    content: "\e660";
}
.icon-config::before {
    content: "\e666";
}
.icon-coffee::before {
    content: "\e669";
}
.icon-camera::before {
    content: "\e66f";
}
.icon-box::before {
    content: "\e674";
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    padding-top: 1.5em;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40,44,42,0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
}

.cuplikan {border: solid 1px #ddd; margin-bottom: 20px;}
.cuplikan:hover {background: rgba(1, 152, 117, 0.5);}
.cuplikan a:hover {text-decoration: none;}

.judul-cup {
    background: rgba(0, 0, 0, 0.1);;
    padding: 12px 5px;
    text-align: center;
    color: #22221E;
    border-bottom: solid 1px #ddd;
}

.body-cup {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 15px 5px;
    background: transparent;
}


.baten {padding-bottom: 10px;}

.baten .btn {
    font-weight: 600;
    height: 40px;
    padding-top: 10px;
    border-radius: 0;
}

.tabel:hover {
    cursor: pointer;
}

.tombol {height: 38px;padding-top: 9px;border-radius: 0;}

/* Custom Umar */
.dataTables_filter,.dataTables_length, .dataTables_info { display: none; }

.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }
.checkbox.checkbox-single label {
    height: 17px; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }
.radio.radio-single label {
    height: 17px; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

/* ===========================================  TAPD ============================================== */

.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; height: 15px;}
.bar { background-color: #B4F5B4; width:0%; height:15px; }
.percent { position:absolute; display:inline-block; top:-3px; left:50%; }
#status{margin-top: 30px;}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.left-inner-addon-lg {
    position: relative;
}
.left-inner-addon-lg input {
    padding-left: 42px;    
}
.left-inner-addon-lg i {
    position: absolute;
    padding: 10px 12px 20px 10px;
    pointer-events: none;
}

.left-inner-addon-area {
    position: relative;
}
.left-inner-addon-area textArea {
    padding-left: 30px;    
}
.left-inner-addon-area i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.fixed-panel {
    max-height: 350px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
/*biar scrol engga ada*/
/*::-webkit-scrollbar-thumb {
    background-color: #3FC380;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #d6e9c6;
}*/

@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
    background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
    background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
    background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
    display: none !important;
}

scrollbar[orient="vertical"] {
    min-width: 15px !important;
}
}
.p1 {line-height: 150%;}
